<head>
  <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
</head>
<body>
  <div class="chat-container" width="500"></div>

  <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
  <script type="text/javascript">
    var chatroom = new window.Chatroom({
      host: "http://localhost:5005",
      title: "Chatea con Mistibot",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "Hola! Soy Mistibot. Te puedo ayudar a conocer mas sobre la escuela de invierno."
    });
    chatroom.openChat();
  </script>
</body>

